*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e1d8d853;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #373535;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 14px;  
}
header a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}
header .nav-items ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header .nav-items ul li{
    margin-left: 22px;
    transition: all 0.6s ease;
    padding: 8px;
}
header .nav-items ul li a{
    font-size: 20px;
}
header .nav-items ul li:hover{
    background-color: #ff7308;
    transform: scale(1.1);
}
.social-media a{
    margin-right: 10px;
    transition: all 0.3s ease;
}
.search-icon{
    background-color: violet;
    padding: 8px;
}
.social-media a:hover{
    color: #57595c;
}
.banner{
    background: url('./images/bg.jpg');
    background-repeat:no-repeat ;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 16px 0;
    filter:opacity(0.5);
    position: relative;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    text-align: center;
}
.container a{
    background-color: orangered;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 22px;
    transition: all 0.3s ease;
}
.container h3{
    font-size: 42px;
    margin-bottom: 10px;
    cursor: default;
    cursor: default;
}
.container p{
    cursor: default;
    margin-bottom: 25px ;
    font-size: 18px;
    color: rgb(99, 99, 99);
}
.container a:hover{
    background-color: #232121;
}
.wrapper{
    width: 80%;
    margin: auto;
    min-width: 720px;
    padding: 12px;
    overflow: hidden;
    cursor: default
}
.mytab {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.mytab a{
    text-decoration: none;
    color: rgb(55, 85, 111);
    font-size: 20px;
    font-weight: 500;
}
.mytab li{
    border: 2px solid #e1d8d853;
    padding: 10px 150px;
    margin-right: 1px;
}
.mytab li:hover{
    background-color: #fff;
    border-bottom: 2px solid orangered;
}
.mytab a:hover{
    color: #373535;
}
.searchbox-img{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px;
    gap: 22px;
}
.searchbox-img img{
    width: 350px;
    height: 200px;
    object-fit: cover;
}
.grid-box{
    display: grid;
    grid-template-columns: 63% 35%;
    gap: 22px;
    overflow: hidden;
}
.right-side,.left-side{
    padding: 10px;
    overflow: hidden;
} 
h2{
    font-size: 38px;
    text-align: center;
    color: #57595c;
    margin: 10px;
    
}
.post{
    display: flex;
    border-left: 3px solid #e60d0d;
    align-items: center;
    padding: 10px;
    max-width: 760px;
    gap: 18px;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.6s ease;
}
.post img{
    width: 200px;
    height: 100px;
    border: 1px;
    object-fit: cover;
}
.content p{
    padding: 2px 0px;
    color: rgb(128, 127, 127);
    font-size: 14px;
}
.search-content input{
    width: 100%;
    padding: 10px 20px;
    border: ipx solid #373535;
    outline: none;
}
.search-post{
    display: flex;
    overflow: hidden;
    gap: 12px;
    border-left: 3px solid #c81c1c;
    padding: 5px;
    margin-top: 4px;
    align-items: center;
    cursor: pointer;
    transition: all 0.6s ease;
}
.search-post img{
    width: 80px;
    height: 50px;
    object-fit: cover;
}
.feed h4{
    background-color: #dc5843;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: larger;
    margin-top: 28px;
}
.feed .box{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    padding: 12px 0px;
    margin-bottom: 10px;
}
.feed .box img{
    width: 123px;
    height: 95px;
    object-fit: cover;
    transition: all 0.3s ;
}
.feed a{
    background-color: #3264fa;
    padding: 14px 166px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    transition: all 0.6s ease;
}
.feed .box img:hover{
    transform: scale(1.1);
}
.feed a:hover{
    background-color: #82d17f;
}
.old-post-content{
    display: flex;
    gap: 12px;
    padding: 10px 5px;
    align-items: center;
    cursor: pointer;
    transition: all 0.6s ease;
}
.old-post-content img{
    width: 400px;
    height: 200px;
    object-fit: cover;
}
.old-post-content .follow a{
    text-decoration: none;
    padding: 8px;
    color: #232121;
    border-left: 1px solid rgb(61, 180, 207); 
}
.follow{
    display: inline-block;
    border: 1px solid rgb(61, 180, 207);
    margin: 10px 0px; 
}
footer{
    background-color: #373535;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 50px;
    gap: 4%;
}
footer .name h2{
    font-size: 72px;
    color: #fff;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer ul{
    list-style: none;
    display: inline-block;
}
.signup input{
    padding: 10px 25px;
    outline: none;
}
.signup button{
    padding: 10px 20px;
    cursor: pointer;
}
.signup form{
    margin-top: 10px;
}
footer p{
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}
footer a{
    color: lightgray;
    font-size: 14px;
    text-decoration:  none;
    transition: all 0.6s ease;
}
footer ul li{
    padding: 6px 0px;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.page a{
    color: #232121;
    float: left;
    text-decoration: none;
    padding: 8px 14px;
    transition: all 0.5s ease;
}
.post:hover ,.search-post:hover, .old-post-content:hover{
    transform: scale(1.1);
}
.page a:hover{
    background-color: #373535;
    color: #fff;
}
footer a:hover{
    text-decoration: underline;
}
.footer p{
    background-color: #232121;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
}